body {
  background: #000 url("../img/background.png") center/cover no-repeat;
}
.container {
  width: 1366px;
  margin: 0 auto;
}
.logo {
  display: flex;
  position: relative;
  text-decoration: none;
}
.logo__img {
  background: url(../img/logo.png);
  width: 53px;
  height: 47px;
}
.logo__text {
  list-style-type: none;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  padding-left: 8px;
}
.logo__bigtext {
  font-size: 29px;
}
.logo:hover .logo__img {
  background: url(../img/logo_hover.png);
}
.logo:hover .logo__text {
  color: #f26522;
}
.logo-wrapper {
  margin: 50px 175px 0px 175px;
  display: flex;
  justify-content: space-between;
}
.contacts {
  list-style-type: none;
  text-align: end;
  margin: 0 0;
}
.contacts__item {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}
.contacts:hover .contacts__item {
  color: #f26522;
}
.posts {
  display: grid;
  grid-template: repeat(2, 300px) / repeat(3, 300px);
  justify-content: center;
  grid-column-gap: 60px;
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
}
.posts__text {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  padding-top: 20px;
}
.posts__img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.posts__viewprice {
  display: none;
  position: absolute;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  background-color: #f26522;
  width: 300px;
}
.posts__text-from {
  display: block;
  padding: 7px 250px 8px 0;
  font-size: 10px;
}
.posts__hover-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}
.posts__text-50 {
  display: block;
  font-size: 20px;
  padding-left: 16px;
}
.posts__text-details::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 14px;
  margin-left: 10px;
  vertical-align: middle;
  background: url("../img/arrow.png") no-repeat;
}
.posts__item:hover .posts__viewprice {
  display: block;
}
.posts__item:hover .posts__text {
  color: #f26522;
}
.copy {
  padding: 55px 0 55px 0;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}
