body{
  font-family: 'Work Sans', sans-serif;
}


.wrapp-section-grid{
  background-image: url(../img/infrustructure_back2.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 46px;
  padding-bottom: 80px;
}
.wrapp-section-flex{
  background-image: url(../img/infrustructure_back1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 240px;
}

.container{
  max-width: 1600px;
margin: 0 auto;
  }

.tel-color{
  color: #E4B564;
  font-weight: 700;
font-size: 20px;
line-height: 29px;
}
.tel{
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}
.back-call-link{
  color: #E4B564;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  margin-left: 10px;
}
.back-call-wrapp{
  padding: 10px 26px;
  border: 1px solid #E4B564;
box-sizing: border-box;
}
.telefono{
  display: flex;
  align-items: center;
  column-gap: 39px;
}
header{
padding-bottom: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 128px;
}
     .block-grid .items{
   display: flex;
  justify-content: center;
  align-items: center;
 

}
.block-grid{
  display: grid;
  min-height: 1000px;
gap: 27px;
grid-template-columns: repeat(6,1fr);
margin-bottom: 160px;
}
.grid-block-section .head-text{
  font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
margin-bottom: 41px;
max-width: 1182px;
width: 100%;

}
.grid-block-section .title{
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 40px;
 }  
.first{
  background: #634F2C;
  grid-column: 1/3;
}
.second{
  padding: 0 40px;
  background: #B4A385;
  text-align: center;
  grid-column: 3/5;
  
}
.third{ 
  background: #E4B564;
  grid-column: 5/7;
}
.fourth{
  background: #635A4A;
  grid-column: 1/4;
}
.fifth{
  background: #B08C4D;
  grid-column: 4/7;
  
}
.text{
  font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
}
.flex-items{
  border-radius: 5px;
}
      

.wrapp-section-flex .title{
font-weight: 700;
font-size: 50px;
line-height: 28px;
color: #FFFFFF;
padding-bottom: 100px;
        }
    
.flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 930px;
  row-gap: 25px;
  column-gap: 30px;
  margin-bottom: 250px;
}
.one{
  background: #0E0E0E;
min-height: 313px;
  
}
.two{
  background: #1F1F1F;
  
min-height: 560px;
}
.three{
  
min-height: 439px;
background: #242424;
}
.four{
  
  min-height: 405px;
  background: #E4B564;
  
}
.five{
  background: #1F1F1F;
  
min-height: 255px;
}
.six{
  background: #1F1F1F;
  min-height: 313px;
}
.seven{
  min-height: 277px;
  background: #1F1F1F;
}

.flex-items-text{
  font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
 margin-top: 44px;
margin-left: 50px; 
}
.box{
  display: flex;
  flex-direction: column;
  
}
.flex-items-text-black{
  color: #000000;
  margin-top: 44px;
  margin-left: 50px;
  font-weight: 500;
font-size: 20px;
line-height: 25px;
}


 .our-clients-flex {
  
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 height: 900px;
                          
}

                         
   .title-clients{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
     color: #FFFFFF; 
  }
.our-clients-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.clients-title{
  font-weight: 700;
font-size: 50px;
line-height: 28px;
color: #FFFFFF;
}

.all-projects-link{
  padding: 10px 40px;
  color: #E4B564;
  border: 1px solid #E4B564;
  text-decoration: none;

}
.our-clients-items{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
   min-height: 391px;
}

.child-text-block{
  min-height: 391px;
   text-align: center; 
  


}
 .describe{
   width: 200px;
  display: inline-block; 
  font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
margin-top: 16px;

}   
   .clients-block-block{
  margin-top: 60px;

  
}


.our-clients-flex .our-clients-items:nth-child(1) {
  background: #634F2C;

}
.our-clients-flex .our-clients-items:nth-child(2){
  background: #635A4A;
}
.our-clients-flex .child-text-block:nth-child(3){
background: rgba(232, 210, 171, 0.76);




}
.our-clients-flex .our-clients-items:nth-child(4){
  background: #B08C4D;
}
.our-clients-flex .our-clients-items:nth-child(5){
  background: #E4B564;
}
.our-clients-flex .our-clients-items:nth-child(6){
  background: #634F2C;
}
         
.group-block{
  position: relative;
  left: 20px;
}

.group-block .last-square{
  position: relative;
  right: 132px;
  bottom: -22px;
}
.letter-I{
  margin-left: 4px;
}
.letter-space{
  margin-right: 3px;
}
.G{
  margin-right: 4px;
}
.U{
  margin-right: 4px;
}
.group-block .last-child{
  position: relative;
  top: 3px;
}
