.page__body {
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
}

/* Header */
.page__header {
    height: 1012px;
    background: url(..//img/bcg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    background-attachment: fixed;
}

/* Navbar */
.header__nav {
    display: flex;
    justify-content: space-around;
    background: rgba(94, 93, 88, 0.6);
}

.nav__brand {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: url(../img/Polygon.png) no-repeat;
    opacity: 0, 6;
    width: 60px;
    height: 68px;
    position: relative;
}

.logo__symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;

    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brand__the {
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;

    margin-left: 10px;
}

.brand__ham {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: rgba(24, 207, 171, 1);

    margin-left: 6px;
}

.nav__list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}

.nav__item {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 21px;
}

.button__search {
    background-color: transparent;
}

.item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    height: 120px;
}

.item__link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

/* Header banner */

.head__banner {
    padding: 265px 0 240px 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-transform: uppercase;
}

.page__title {
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    color: #FFFFFF;
}

.page__subtitle {
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    color: #FFFFFF;
}

.page__subtitle.standart {
    font-weight: normal;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
    text-transform: capitalize;
    margin-bottom: 190px;
}

.buttons__container {
    display: flex;
    justify-content: space-between;
    min-width: 365px;
}

.button__banner {
    width: 170px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    border-radius: 5px;
    padding: 21px 0 16px 0;
    border-top: 4px solid white;
}

.button__banner:first-child {
    background: #18CFAB;
}

.button__banner:last-child {
    margin-right: 0;
    background: #14B9D5;
}

/* Our benefits */
.benefits__list {
    border-top: 6px solid #fff;
    min-height: 377px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #1C2A33;
    margin-bottom: 0;
}

.benefits__item.green {
    background: #18CFAB;
}

.benefits__item {
    padding-top: 100px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.benefits__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
}

.benefits__title.green,
.green__span {
    color: #18CFAB;
}

/* Our services */

.services__title {
    font-style: normal;
    font-weight: 400;
    margin-top: 83px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    position: relative;
}

.top__line {
    left: 50%;
    transform: translateX(-5%);
    margin: 0 0 1px 0;
    height: 1px;
    background-color: #18cfab;
}

.bottom__line {
    left: 50%;
    transform: translateX(5%);
    margin: 0 0 74px 0;
    height: 1px;
    background-color: #18cfab;
}

.services__tabs,
.services__tabs-content {
    list-style: none;
    padding-left: 0;
}

.services__container {
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

.services__tabs {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.services__tabs-title {
    width: 193px;
    padding: 15px 0;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    cursor: pointer;

    background: #F8FCFE;
    border: 1px solid #F2F2F2;
}

.services__tabs-title:hover {
    outline: 3px solid #EDEFEF;
}

.services__tabs-title.active {

    background-color: #18CFAB;
    text-align: center;
    font-size: 16px;
    line-height: 39px;
    color: #FFFFFF;
    position: relative;
}

.services__tabs-title.active::after {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -20px;
}

.services__tabs-item {
    display: none;
}

.services__tabs-item.active {
    display: flex;
}

.services__text {
    padding: 0;
    margin: 0 0 0 15px;
    height: 135px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

/* Slogan banner */
.slogan__banner {
    margin-top: 90px;
    padding: 127px 0;
    height: 476px;
    background: url(..//img/bcg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    background-attachment: fixed;
    text-align: center;
}

.slogan__button__banner {
    width: 145px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    border-radius: 5px;
    padding: 15px 10px;
    border-top: 4px solid white;
    background: #18CFAB;
    text-align: center;
}

.slogan__subtitle {
    ont-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    margin: 0 0 12px 0;
}

.slogan__subtitle__low {
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin: 0 0 67px 0;
}

/* Our work */
.works__title {
    margin-top: 95px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.bottom__line.work {
    margin-bottom: 83px;
}

.works__tabs,
.works__tabs-content {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.works__tabs-content {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.works__container,
.news__container {
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

.works__tabs {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.works__tabs-title {
    width: 193px;
    padding: 15px 0;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    cursor: pointer;

    background: #F8FCFE;
    border: 1px solid #F2F2F2;
}

.works__tabs-title.active {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #18CFAB;
    position: relative;
    border: 3px solid #18CFAB;
}

.works__tabs.active {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 39px;
    color: #18CFAB;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
}

.works__tabs {
    display: none;
}

.works__text {
    padding: 0;
    margin: 25px 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.works__text.lower {
    font-weight: 300;
    margin-top: 2px;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    text-transform: capitalize;
}

.works_logo_first {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 3px;
}

.works_logo_first:hover {
    background-color: #18cfab;
}

.works_logo_first:hover .work__logo_first path {
    fill: #FFFFFF;
}

.works_logo_first:hover .work__logo_first rect {
    fill: #FFFFFF;
}

.works_logo_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.works__info {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 6px solid #18CFAB;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /* display: none;
    z-index: -1; */
    opacity: 0;
    transition: opacity 0.2s;
    background-color: #FFFFFF;
}

.works__info:hover {
    opacity: 1;
}

.slogan__button__banner.plus {
    margin: 70px 0 100px 0;
    width: 168px;
    padding: 5px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    border: none;
}

/* News */

.works__title.news {
    margin-top: 83px;
}

.news__list {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 44px;
    padding-left: 0;
    margin: 0;
}

.news__link {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.date__text {
    width: 70px;
    height: 68px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    text-align: center;
    background: #203E38;

    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 0 15px;

    display: flex;
    align-items: center;
}

.news__link:hover .date__text {
    background: #18CFAB;
}

.news__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    text-align: left;
    color: #717171;
    margin: 0;
    padding-left: 10px;
}

.news__link:hover .news__title {
    color: #18CFAB;
}

.news__author {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    text-align: left;

    color: #777777;
    margin: 0;
    padding-left: 10px;
}

img.news__img {
    width: 263px;
    height: 208px;
    /* background-size: cover; */
}

/* About */

.about {
    margin-top: 130px;
    padding-top: 100px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/what-people-say.png) center/cover no-repeat;
    background-attachment: fixed;
}

.about .section__header {
    color: white;
}

.about__content {
    padding: 0 0 60px 0;
    margin: 0;
}

.about__content-item {
    list-style-type: none;
    display: none;
    justify-items: center;
    position: relative;
}

.about__content-item.active {
    display: grid;
}

.animation {
    display: none;
}

@keyframes about-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animation.active {
    animation: about-animation;
    animation-duration: 2s;
}

.about__ellipse {
    background-image: url("../img/about/ellipse.png");
    width: 164px;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__ellipse-small {
    background-image: url("../img/about/ellipse-small.png");
    width: 69px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
    text-align: center;
    padding-top: 88px;
}

.about__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18cfab;
    margin: 0;
    padding-top: 37px;
}

.about__work {
    font-weight: 300;
    font-size: 12px;
    color: #bbbbbb;
    margin: 0;
    padding: 5px 0 38px 0;
}

.about__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 100px 0;
    position: relative;
}

.about__tabs-item {
    list-style-type: none;
    padding: 0 30px 0 30px;
}

.about__tabs-item:hover,
.about__tabs-item.active {
    transform: translateY(-10px);
    transition: 0.5s;
}

#about__back,
#about__next {
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #bbbbbb;
}

.big__img {
    height: 142px;
}

.small__img {
    height: 60px;
}

.next__symb,
.back__symb {
    height: 13px;
}

#about__back:hover,
#about__next:hover {
    background-color: #18cfab;
}

.quotes {
    margin-bottom: 36px;
}

.about__subtitle {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}

.footer {
    background-color: #22353f;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #aeaeae;
    margin: -0;
    padding: 48px 0 47px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}