*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}
.horisont_navbar{
   
}
.container{
    display: flex;
    /* justify-content : center; */
    align-items : center;
}

.Ramda{
    font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 94px;
display: flex;
align-items: flex-end;
text-align: center;
}
